# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# IDE folders
.vs/
.vscode/
.idea/

# Test, coverage, and logs
TestResults/
*.trx
*.coverage
*.coveragexml
*.log

# NuGet
*.nupkg
*.snupkg
packages/
!.nuget/local/*.nupkg

# Local SQLite store created by the message API
api-demo.db
api-demo.db-shm
api-demo.db-wal

# Frontend caches/deps (optional for mixed repos)
node_modules/
dist/
.angular/

# OS files
.DS_Store
Thumbs.db
